p
{	margin-top:5px; margin-bottom:5px;text-align:left}
h2
{	margin-top:5px; margin-bottom:5px;text-align:left}
.code
{font-family:		Courier, sans-serif;color:000000}
.comment
{font-family:		Courier, sans-serif;color:008000}
.classes
{font-family:		Arial, sans-serif; font-size:20px; font-weight:bold; color:0000ff}
.method
{font-family:		Arial, sans-serif; font-size:18px; font-weight:bold; color:0000ff}
.description
{font-size:14px; font-style:italic; color:000000}
.interface
{font-family:           Courier, sans-serif; font-size:12px; font-weight:bold; color:000000}
.arg
{font-family:           Arial, sans-serif; font-size:14px; font-weight:bold; color:0000ff}
.argname
{font-family:           Arial, sans-serif; font-size:14px; font-style:italic; color:000000}